@import url(https://fonts.googleapis.com/css?family=Raleway:600);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

.navbar-brand {
    font-family: Montserrat;
    color: #222222;
}

.navbar li {
    font-family: Raleway;
    color: black;
}

.container.ng-scope {
    padding-left: 0;
    padding-right: 25px;
}

.navbar.navbar-default {
    background-color: white;
}
/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Search Div */
.form-inline {
    padding-bottom: 20px;
}

/* Info Panels */
.panel {
    font-family: Raleway;
}

a.btn.btn-primary {
    margin-top: 30px;
    margin-left: 46px;
}

img.img-thumbnail {
    max-height: 100px;
    max-width: 100px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  background-color: #689DC7;
  color: white;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  font-family: Raleway;
  
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

.jumbotron h1 {
    padding-bottom: 20px;
}

.jumbotron img {
    height: 160px;
    width: 160px;
    margin-top: -10px;
    margin-bottom: 10px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


/* Minimal About CSS */

.codecontainer {
    width: 110%;

}