<div class="jumbotron">
  <h1>Find Your Inner Angular</h1>
  <p class="lead">
    <img src="images/badge5.png" alt="I'm Yeoman"><br>
    Search classes (using Angular, duh.)
  </p>

  
  <form class="form-inline">
    <div class="form-group">
        <input type="text" ng-model="search" class="form-control" placeholder="Search">
    </div>
</form>
  <det>brought to you by #gemStore industries</det>
</div>


        

<div class="container" ng-controller="MainCtrl" ng-repeat="tutorial in myData|filter:search">
    <div class="panel panel-default" >     
        <div class="panel-heading">
            <h3>{{ tutorial.title }}</h3>
        </div>
        <div class="panel-body">
            <div class="col-sm-4">
                <figure class="figure pull-left">
                    <img class="img-thumbnail" src="{{ tutorial.image }}">
                    <figcaption class="figure-caption">{{ tutorial.author }}</figcaption>      
            </div>
            
            <div class="col-sm-8">           
                <p>{{tutorial.description}}</p>
                 <a href="{{ tutorial.url }}" class="btn btn-primary" role="button"> Learn More Here! </a>
            </div>
    </div>
</div>
